
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Overflow + MySignature Black */
html,body{
    /* Overflow */
    overflow: hidden !important;
    /* Background Color */
    background: #EAE8E4 !important;
    /* Text Color */
    color: #2C2C2D !important;
    /* Height */
    height: 100%;
}

/* Hide Scroll bar through Magic */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #2C2C2D;
}

/* Body */

body{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.container{
    position: relative;
    overflow: hidden;
    top: 20px !important;
    width: 300px;
    height: 250px;
    border: 3.5px solid #2C2C2D;
    border-radius:11px;
    left: -1px;
    box-shadow: 0 3px 6px rgba(0, 0 , 0, 0.2);        
}

.arrows:hover{
    opacity: 1;
}

.arrows{
        opacity: 0;
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 99999;
        transition: all ease 0.5s;
        justify-content: space-between;
        color: #000;
}

.arrow{
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 7px;
            background-color: #2C2C2D;
            opacity: 0.5s;
            transition: ease 0.3s;
            cursor: pointer
}

.arrow:hover{
    opacity: 1;
}

.pictures{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;
}

.imgs{
    height: 250px;
    width: 300px;
    object-fit: cover;
}

.right_arrow{
    position: absolute;
    left: 260px !important;
}

.left_arrow{
    position: absolute;
    left: -10px !important;
}

h1{
    position: absolute;
    top: 28px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}